DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

ConnectionStrings__DefaultConnection=

JwtSettings__SecretKey=
JwtSettings__Issuer=
JwtSettings__Audience=
JwtSettings__ExpiryMinutes=

SeedAdmin__Email=
SeedAdmin__Password=